* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:powderblue;
    font-family: rubik, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form {
    border-radius: 40px;
    background: white;
    width: 500px;
    margin: 65px auto;
}

#login-form a.link {
    text-decoration: none;
    color: grey;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

#login-form .checkmark {
    font-size: 15px;
}

#login-form h1 {
    padding: 35px 35px 0;
    font-weight: 300
}

#login-form .action a {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: rubik, sans-serif;
    text-transform: uppercase;
    outline: 0;
    transition: all .3s;
    background-color:#f1f2f6 ;
    display: block;
    text-decoration: none;
    color: #485460;
}

.action a:hover {
    cursor: pointer;
    opacity: 0.6;
}

.content {
    padding: 35px;
    text-align: center
}

.input-field {
    padding: 12px 5px
}

.input-field input {
    font-size: 16px;
    display: block;
    font-family: sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
}

.title1{
    color: dodgerblue;
    font-family:inherit;
    font-size: 30px;
    margin: 10px 0px 5px 0;
    text-align: center;
}

.title2{
    color:grey;
    font-size: 20px;
    text-align: center;
}

.text{
    text-align: center;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}