* {
  padding: 0;
  margin: 0;
}

#headerFinderDiv{
  width: 20%;
  height: 100vh;
  background-color: aqua;
  float: left;
}

#editorDiv{
  width: 80;
  height: 100%;
}

.ck-editor__editable_inline {
  height: 89vh; /* Chiều cao được đặt ở đây */
}

