*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    padding-left: 0;
    padding-top: 0; 
}

form {
    margin:  10px 0;
}

button {
    order: none;
    outline: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#text_zone {
    background-color: rgb(248, 249, 250);
    display: flex;
    align-content: center;
    align-items: center;
}

#output {
    overflow:hidden;
    padding: 0;
    box-sizing: border-box;
    border: none;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: white;
    width: 800px;
    height: 800px;
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

